body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  flex: 0.4;
}
.Sit{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  flex: 5;
}
.nav-bar{
  font-family: fantasy;
  font-size: 29px;
  position: fixed;
  z-index: 4;
  width: 100%;
}
.Text{
  background: #ecf0f1;
  width: 100vw;
  height: 90vh;
  position:fixed;
  top: 43px;
}
.home-text-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-font{
  font-size:28px;
  font-style: normal;
  font-family:monospace;
  color:#95a5a6;
}
a{
  color: #8a8a8a;
  margin-right: 1em;
  text-decoration:none;
}
