body{
  background-color: #ecf0f1;
}

li{
  margin-top: auto;
}
a{
  position:relative;
  border-radius:5px;
  font-size: 18px;
  text-align: center;
  font-family:fantasy,Helvetica,monospace,Verdana, Arial, sans-serif;
}
header{
  /* margin-bottom: 20px; */
  padding:3%;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #16a085;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#1abc9c;
}
footer{
  text-align: center;
  background-color:#1abc9c;
  color: ##2c3e50;
  padding-bottom: 30px;
}
.introduce{

  font-size: 20px;
}
.for_bar{
  margin-top: 10px;
  border-radius: 5px;
  padding:10px;
  background-color: #7bbc0c;
}

.bar_of_pages{
  padding:3%;
  position: fixed;
  padding-bottom: 100%;
  background: #e74c3c;
}
.Text{
  text-align: center;
  margin-left:18%;
  margin-bottom: 90%;
}
