body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  flex: 0.4;
}
a{
  color: #8a8a8a;
  margin-right: 1em;
  text-decoration:none;
}
a:hover{
   -webkit-animation: a_a 2s infinite;
   animation: a_a 2s infinite;
}
@keyframes a_a {
  from{opacity: 1}
  to{opacity: 0.2;text-shadow: 1px 1px 2px black,0 0 0.2em grey;}
}
.Sit{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  flex: 5;
}
.nav-bar{
  font-family: fantasy;
  font-size: 29px;
  position: fixed;
  z-index: 4;
  width: 100%;
}
.Text{
  background: #ecf0f1;
  width: 100vw;
  height: 90vh;
  position:fixed;
  top: 43px;
}

.home-font{

  margin: 100px;
  margin-left: 200px;
  white-space:normal;
  font-size:28px;
  font-style: normal;
  font-family:monospace;
  color:#95a5a6;
}


.email{
  margin-top:10px;margin-left: 600px;color:#7f8c8d;font-family:sans-serif;
}
@media (max-width:768px) {
  .email{
    margin-top:10px;margin-left: 120px;color:#7f8c8d;font-family:sans-serif;
  }
    .home-font{
    text-align:left;
    margin-top: 60px;
    margin-left: 65px;
    font-size:1.5em;
    font-style: normal;
    font-family:monospace;
    color:#95a5a6;
  }

}
